{%extends 'blog/base.html'%}

{% block content%}



<div class="col-md-12 text-center mt-5 ">
	<h1 class="display-1 fw-bold" style=" line-height:1.2, font-weight: 700; font-family:Montserrat">Books</h1>
	<p style ='font-family: Source Serif Pro; font-size: 20px'>It is all about self-improvement not through avoiding <br> problems or always being happy, but rather through engaging<br> and improving upon problems and learning to accept the<br> occasional unhappiness.</p>
  </div>
  
  <div class="row mt-5" style="border: 1.5px solid black; background-color: tomato">
	<div class="col-6">
	  <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
		<strong style="font-family: Montserrat; font-size: 16px;">WANT TO READ FROM US EVERY WEEK</strong>
	  </div>
	</div>
	
	<div class="col-4">
	  <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
		<div class="input-group input-group-m-3">
		  <input type="email" class="form-control rounded-pill mb-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" style ="border: 1px solid black">
		  <div class="input-group-append">
			<button type="submit" class="btn btn-outline-dark rounded-pill input-group-append" style="color: white; background:black ; position: absolute; right: 0;">SIGN UP</button>
		  </div>
		</div>
	   
	  </div>
	</div>
	<div class ="col-2"></div>
  </div>









<h1 style="padding: 100px;">

	Hello how are you , we are bringing a lot of exciting content, just hang on tight 😇
</h1>
	{%endblock %}